@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


button {
    @apply bg-c-base p-2 text-t-base hover:bg-c-hover-1 hover:text-t-base transition-all focus-visible:outline-0 focus-visible:bg-c-hover-1
}


body {
    font-family: Tahoma, Arial, serif;
    background-image: linear-gradient(-160deg, rgb(218, 218, 218), rgb(98, 103, 105));
    background-attachment: fixed;
    @apply text-gray-300 selection:text-t-base selection:bg-c-hover-1
}

* {
    scrollbar-width: thin;
    scrollbar-color: #e879f9 #e9d5ff;
}

*::-webkit-scrollbar {

    width: 7px; /* ширина всей полосы прокрутки */
}

*::-webkit-scrollbar-track {
    @apply bg-opacity-40 bg-c-base;
    /* цвет зоны отслеживания */
}

*::-webkit-scrollbar-thumb {
    /*background-color: blue;    !* цвет бегунка *!*/
    /*border-radius: 20px;       !* округлось бегунка *!*/
    /*border: 3px solid orange;  !* отступ вокруг бегунка *!*/
    @apply bg-c-select-1 bg-opacity-80
}











